.statusInput {
    max-width: 200px;
}
.ticketQueueView{
   
        height: 150px;
        width: 100%;
        padding:10px;
        overflow-y: scroll;
        overflow-x:hidden;
        font-size:12px;
   
}

.dashboardWhole{
    display:flex;
}
.singleTicketDashboard{
    height: 100%;
    width: 60%;
    padding:10px;
   
    overflow-x:hidden;
    font-size:12px;
    display:flex;
    flex-direction:row;
    font-size:12px;
 
}

.addTicketDashboard{
    height: 100%;
    width: 20%;
    padding:10px;
   
    overflow-x:hidden;
    font-size:12px;
    display:flex;
    flex-direction:row;
    font-size:12px;
 
}



.addTicketDashboard input {
    
    font-size:12px;
 
}
.addTicketDashboard textarea{
  
    font-size:12px;
 
}
