.statusInput {
    max-width: 200px;
    font-size:10px;
}
.statusInput select{
    max-width: 200px;
    font-size:12px;
}

.ticketQueueView{
   
        height: 150px;
        width: 100%;
        padding:10px;
        overflow-y: scroll;
        overflow-x:hidden;
        font-size:12px;
   
}

.test{
    background-color:green;
}

.dashboardWhole{
    display:flex;
}
.singleTicketDashboard{
    height: 75vh;
    width: 60%;
    padding:30px;
   
    overflow-y: scroll;
    overflow-x:hidden;
    font-size:12px;
    display:flex;
    flex-direction:row;
    font-size:12px;
 
}

.addTicketDashboard{
    height: 75vh;
    width: 20%;
    padding:30px;
   
    overflow-x:hidden;
    display:flex;
    flex-direction:row;
    font-size:12px;
 
}



.addTicketDashboard input {
    
    font-size:12px;
 
}
.addTicketDashboard textarea{
  
    font-size:12px;
 
}

.addCommentDashboard{
    height: 75vh;
    padding:30px;
    display:flex;
    flex-direction:row;
    font-size:12px;
}